/* app shell CSS */


:root {
  --roasted-red-chili: #aa0e20;
  --unik-white: #f5f5f5;
  --jalapeno-dream: #017d2b;
  --two-hundred-pesos: #d4c462;
  --enchiladas-orange: #f08e48;
  --sugar-skull-black: #120200;
  --navbar-height: 50px;
}

body {
  margin: 0;
  background-color: var(--unik-white);
  font-family: 'Edu SA Beginner', cursive;
}

h1 {
  font-size: 22px;
  font-family: 'Catamaran', sans-serif;
  text-transform: capitalize;
}

#navbar {
  height: var(--navbar-height);
  background-color: var(--roasted-red-chili);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--unik-white);
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 0.9px;
}

.navbar-brand img {
  padding-top: 1px;
}

.loading-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 3px solid var(--roasted-red-chili);
  border-right-color: transparent;
  border-radius: 50%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app-update {
  display: none;
  position: absolute;
  right: 10px;
}

.app-update.show {
  display: block;
}

.nav-btn {
  margin: 25px;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  font-family: 'Nova Mono', monospace;
  color: var(--sugar-skull-black);
  background-color: var(--unik-white);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--jalapeno-dream);
  cursor: pointer;
}

.btn.btn-squared {
  border-radius: 0;
}

.btn.btn-sm {
  font-size: 0.85rem;
  padding: 0.3rem 0.9rem;
}

.btn.btn-lg {
  font-size: 1.25rem;
  padding: 0.8rem 1.4rem;
}

.btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.btn.btn-primary {
  background-color: var(--enchilada-orange);
  color: var(--sugar-skull-black);
}

.btn.btn-primary:hover {
  background-color: var(--unik-white);
}

.btn.btn-danger {
  background-color: var(--roasted-red-chili);
  color: var(--unik-white);
}

.btn.btn-danger:hover {
  background-color: var(--two-hundred-pesos);
}

.btn.btn-info {
  background-color: var(--jalapeno-dream);
  color: var(--unik-white);
}

.btn.btn-info:hover {
  background-color: var(--enchiladas-orange);
}

.btn.btn-light {
  background-color: var(--two-hundred-pesos);
  color: var(--sugar-skull-black)
}

.btn.btn-light:hover {
  background-color: var(--enchiladas-orange);
}

.btn.btn-dark {
  background-color: var(--jalapeno-dream);
  color: var(--unik-white);
}

.btn.btn-dark:hover {
  background-color: var(--enchiladas-orange);
}

.btn.btn-white {
  background-color: var(--unik-white);
  color: var(--sugar-skull-black);
}

.btn.btn-white:hover {
  background-color: var(--enchiladas-orange);
}

.btn.btn-black {
  background-color: var(--sugar-skull-black);
  color: var(--unik-white);
}

.btn.btn-black:hover {
  background-color: var(--jalapeno-dream);
}

.btn.btn-link {
  background-color: var(--enchiladas-orange);
  color: var(--unik-white);
}

.btn.btn-link:hover {
  background-color: var(--tenchiladas-orange);
}

@media only screen and (max-width: 600px) {
  .nav-btn {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  #navbar {
    justify-content: center;
  }

  h1 {
    font-size: 18px;
  }
}
